{% extends 'base.html.twig' %}

{% block title %}ajout de Matiere{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Matiere</h1>

    {{ include('matiere/_form.html.twig') }}

    <a type="button" class="btn btn-info" href="{{ path('matiere_index') }}">retour à la liste</a>
{% endblock %}
